body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color:rgb(239, 226, 250);
    text-align: center;

}

header h1 {
    color: white;    
    font-family:cursive;
    font-size: 40px;
}

header {
    background-color: indigo;
    display: flex; 
	  align-items: center;
    padding: 15px;
    justify-content: center;
}

header img {
	width: auto;
  height: 150px;;
	margin-right: 30px; 
}

#controls {
    padding: 50px;
}

#buttons{
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  font-size: 12px;
}

#countryBtn {
    padding: 10px 15px;   
    background-color: #9d0a0a;
    color: white;
    border-radius: 5px;
    margin-left: 40px;
    font-weight: bold;    
}

#countryBtn:hover {
    background-color:  rgb(200, 60, 60);
}

#citiesBtn {
  padding: 10px 15px;   
  background-color: #0e256f;
  color: white;
  border-radius: 5px;
  font-weight: bold;  
}

#citiesBtn:hover {
  background-color:  rgb(63, 107, 203);
}

label{
  font-weight: bold;
  color: rgb(58, 12, 76);
}

input {
  width:45%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 5px;
  border-color: gold;
}

  table {
    width: 80%;
    text-align: left; 
    margin: auto; 
    padding: 30px;  
    border-collapse: collapse;  
    border: 1px solid #b5b3b3;
  }

  td {
    padding: 5px;
    border: 1px solid #b5b3b3;
  }

  th {
    background-color: #c79be4;
    color: rgb(58, 12, 76);
    padding: 10px;
    border: 1px solid#b5b3b3;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f9efbb;
  }
  